<header class="header">
  <a href="/listings"><i class="fa-regular fa-compass logo"></i></a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a href="/listings" class="main-nav-link">Explore</a></li>

      <li class="search">
        <input type="text" placeholder="Search destinations" class="search-input" />
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </li>

      <li><a href="/listings/new" class="main-nav-link">List your room</a></li>
      <li><a class="main-nav-link" href="/user/signup">Sign up</a></li>
      <li><a class="main-nav-link" href="/user/login">Login</a></li>
    </ul>
  </nav>
</header>
