<% layout('layouts/boilerplate') -%>

<body>
  <section class="section-index">
    <div class="container">
      <div class="cards-grid">
        <% for(const listing of allListings) { %>
        <div class="card">
          <div class="card-img-box">
            <a href="/listings/<%= listing._id %>"><img src="<%= listing.image %>" class="card-img" alt="listing image" /></a>
          </div>

          <div class="card-body">
            <p class="card-title"><%= listing.title %></p>
            <p class="card-price">&#8377; <%= listing.price.toLocaleString('en-IN') %>/ night <em class="tax-info hide">+18% GST</em></p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>
</body>
