/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/*///////////////////////*/
/* HEADER SECTION */
.header {
  background-color: #f1f3f5;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  font-size: 3rem;
  color: #ff385c;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-out;
}

.logo:hover {
  transform: rotate(0deg);
}

/*///////////////////////*/
/* NAVIGATION */
.main-nav {
  flex-grow: 1;
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #d42f4d;
}

.search {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin: 0 auto;
  border: 1px solid #ced4da;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  padding-left: 1.6rem;
  border-radius: 25px;
}

.search-icon {
  font-size: 1.2rem;
  color: #fff;
  background-color: #ff385c;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.search-icon:hover {
  background-color: #d42f4d;
}

.search-input[type='text'] {
  background-color: inherit;
  border: none;
  padding: 0;
}

.welcome-user {
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: 0.4rem;
}

.btn-location {
  border: none;
}

.current-location-icon {
  cursor: pointer;
  color: #ff385c;
  font-size: 2rem;
}

/*///////////////////////*/
/* INDEX SECTION */
.section-index {
  padding: 4.8rem 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.6rem;
  row-gap: 4.8rem;
}

.card-img-box {
  cursor: pointer;
  border-radius: 1rem;
  height: 30rem;
  margin-bottom: 1.6rem;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.card-price {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-box {
  display: flex;
  justify-content: end;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
.sort {
  /* margin-bottom: 2rem; */
  max-width: fit-content;
  /* display: flex; */
  /* margin-left: auto; */
}

#find-nearby-btn {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  background-color: #fff;
  border-color: #dee2e6;
}

#find-nearby-btn:hover {
  border-color: #adb5bd;
}

#find-nearby-btn.active {
  background-color: #f1f3f5;
}

/*///////////////////////*/
/* SHOW SECTION */
.section-show {
  padding: 4.8rem 0;
}

.section-show .container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.show-card {
  margin-bottom: 2.4rem;
}

.show-card-img-box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 30rem 30rem;
  gap: 1.2rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.show-card-img:nth-child(1) {
  grid-row: 1/3;
}

.show-card-img {
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.show-card-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.show-card-price {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.4rem 0 1.2rem 0;
}

.show-card-location {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.show-card-location span {
  font-weight: 500;
}

.show-card-owner {
  font-size: 1.4rem;
}

.show-card-owner span {
  font-weight: 500;
}

.book-modal {
  background-color: #f1f3f5;
  position: fixed;
  width: 100%;
  max-width: 113.6rem;
  padding: 4.8rem 3.2rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: 100;
  border-radius: 8px;
  transition: 0.3s cubic-bezier(0, 0.54, 0.58, 1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease; /* fade animation */
  z-index: 50;
}
/* When modal is active */
.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-overlay.show .book-modal {
  transform: translateY(-50%) translateX(-50%);
}

.modal-close-btn {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.modal-close-btn:hover {
  color: #ff385c;
  transform: rotate(90deg);
}

/* Styling Reviews */
.review-section {
  padding: 4.8rem 0;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
}

.review {
  list-style: none;
}

.review-message,
.review-rating {
  font-size: 1.6rem;
}

.review-rating {
  margin-bottom: 1.6rem;
}

.review-user {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.review-user-img {
  width: 5rem;
}

.review-user-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.btn-delete-review {
  padding: 0.8rem 1.6rem;
  margin-top: 1.4rem;
}

/*///////////////////////*/
/* NEW SECTION */
.section-new {
  padding: 4.8rem 0;
}

.section-new .container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*///////////////////////*/
/* EDIT SECTION */
.section-edit {
  padding: 4.8rem 0;
}

.section-edit .container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*///////////////////////*/
/* FOOTER SECTION */
footer {
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 3.2rem 0;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}

.social-icon {
  font-size: 2.4rem;
}

.copyright-text {
  font-size: 1.6rem;
}

.info-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.info-links a:link,
.info-links a:visited {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

.info-links a:hover {
  text-decoration: underline;
}

/*///////////////////////*/
/* SIGNUP/LOGIN SECTION */
.section-signup {
  padding: 4.8rem 0;
}

.section-signup .container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*///////////////////////*/
/* ORDERS SECTION */
.section-orders {
  padding: 4.8rem 0;
}

.show-card-order {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  margin-top: 2.4rem;
}

.order-details {
  display: flex;
  gap: 1.2rem;
}
